fint:
  metamodell: https://beta.felleskomponent.no/fint/metamodell/klasse
  database:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/fint-personvern-kodeverk-adapter
  adapter:
    id: https://vigoiks.no/fintlabs-no/personvern/kodeverk-henrik-test
    password: test
    username: test
    base-url: http://localhost:8081
    registration-id: fint
    org-id: fintlabs.no
    heartbeat-interval: 1
    capabilities:
      behandlingsgrunnlag:
        domain-name: personvern
        packageName: kodeverk
        resource-name: behandlingsgrunnlag
        fullSyncIntervalInDays: 1
        deltaSyncInterval: IMMEDIATE
      personopplysning:
        domain-name: personvern
        packageName: kodeverk
        resource-name: personopplysning
        fullSyncIntervalInDays: 1
        deltaSyncInterval: IMMEDIATE

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fint-personvern-kodeverk-adapter
    username: postgres
    password: postgres
  security:
    oauth2:
      client:
        provider:
          fint-idp:
            token-uri: https://idp.felleskomponent.no/nidp/oauth/nam/token?resourceServer=fint-api
        registration:
          fint:
            authorization-grant-type: password
            client-id: ${fint.adapter.client-id}
            client-secret: ${fint.adapter.client-secret}
            provider: fint-idp
            scope: fint-adapter
